*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline:none;
    color:#333333;
    font-size:20px;
}
#main{
    display:flex;
    height:auto;
    border-radius: 8px;
    background-color:rgba(211, 211, 211, 1);
}
#image{
    margin-top:80px;
    margin-left:40px
}
#content {
    margin-top:40px;
    border-radius: 7px; 
    position: relative;
    left: 200px;
    box-shadow:1px 2px 6px rgba(255, 255, 255,1);
    background-color: rgba(255, 255, 255,1);
    padding-left: 20px;
    padding-top:20px;

}
#main-content{
    height:200px;
}
#checkbox-content {
    display: none; /* Initially hidden */
    margin-top: 10px;
}
p input,p select,p label{
    margin:5px;
    border-radius:8px;
}
input[type="submit"],input[type="file"],input[type="checkbox"],select{
    cursor: pointer;
}
input[type="submit"]{
    margin-left:400px;
}
input[type="submit"]:hover{
    background-color: rgb(255, 255, 255);
}
select{
    overflow:visible;
    width:500px;
}